.clearfix:before, .clearfix:after {
 content: " ";
 display: table;
}
.clearfix:after {
 clear: both;
}

body{
	background-image: url("../img/background.png");
}

body, html{
	width: 100%;
	height: 100%;
}

.wrapper{
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

header{
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #eff3f7;
  	height: 119px;
}


.empty{
	height: 100px;
}

footer{
	margin-top: -100px;
	position: relative;
	background-color: #eff3f7;
	height: 100px;
	width: 100%;
}

.container{
	width: 960px;
	margin: 0 auto;
}

.container_wide{
	width: 1200px;
}

.logo{
	margin-top: 39px;
	margin-bottom: 38px;
	height: 42px;
	float: left;
}

.icons{
	float: right;
	margin-top: 35px;
	margin-bottom: 37px;
}

.icons ul{
	margin: 0px;
}

.icons li{
	display: inline-block;
	vertical-align: top;
	margin-left: 24px;
	text-indent: 100%;
	white-space: nowrap;
  	overflow: hidden;
}

.navigation {
	width: 250px;
}

aside{
	float: left;
	width: 250px;
}

.navigation ul{
	padding: 0;
	background-color: #eff3f7;
  	font-size: 21px;
	font-family: Arial;
	color: #959aa8;
	list-style-type: none;
}

.navigation ul li{
	display: block;
	margin: 0px 10px;
	padding: 27px 0px;
	padding-left: 18px;
	border-bottom: 3px solid;
	border-color: #3ba8c0
}

.navigation ul li:last-child{
	border-bottom: none;
}

.navigation ul li a{
	color: #959aa8;
	text-decoration: none;
}

.navigation ul a:hover{
	color: #3ba8c0;
}

.navigation ul li a:target{
	background: #3ba8c0;
	color: #ffffff;
}

.main{
	margin-top: 37px;
}

.section{
	margin-left: 60px;
	float: left;
	width: 650px;
}
