.clearfix:before, .clearfix:after {
 content: " ";
 display: table;
}
.clearfix:after {
 clear: both;
}

body{
	background: url("../img/background.png") repeat;
}

body, html{
	width: 100%;
	height: 100%;
}

.wrapper{
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

header.header{
	width: 100%;
	background-color: #eff3f7;
  	height: 119px;
  	position: relative;
  	margin-bottom: 39px;
}

header:after{
	content: "";
	display: block;
	bottom: 0;
	height: 3px;
	width: 100%;
	position: absolute;
	background-image: -moz-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
	
}


.empty{
	height: 100px;
}

footer{
	margin-top: -100px;
	position: relative;
	background-color: #eff3f7;
	height: 100px;
	width: 100%;
}

footer:before{
	content: "";
	display: block;
	top: 0;
	height: 3px;
	width: 100%;
	position: absolute;
	background-image: -moz-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
	
}

.container{
	width: 960px;
	margin: 0 auto;
}

.container_wide{
	width: 1200px;
}


/*---------------------FOOTER---------------------*/

.page-footer .container{
	padding-top: 23px;
	position: relative;
}

.page-footer .copyright{
	margin: 0px 180px;
	padding-top: 7px;
	text-align: center;
	font-size: 13px;
	font-family: fira_sansbook;
}

.page-footer .footer-login{
	position: absolute;
	top: 26px;
	left: 20px;
}

.footer-login-a{
	display: block;
	background: url(../img/login.png);
	text-indent: -9999px;
	background-repeat: no-repeat;
	padding-left: 24px;
	line-height: 40px;
}

.footer-login-a:hover{
	background-image: url(../img/login_complete.png);
	background-repeat: no-repeat;
}

/*---------HEADER-------------*/

.logo{
	margin-top: 39px;
	margin-bottom: 38px;
	height: 42px;
	float: left;
}

.icons{
	float: right;
	margin-top: 35px;
	margin-bottom: 37px;
}

.icons ul{
	margin: 0px;
}

.icons li{
	display: inline-block;
	vertical-align: top;
	margin-left: 24px;
	text-indent: 100%;
	white-space: nowrap;
  	overflow: hidden;
}

/*--------------------------------------*/

/*---------SIDEBAR-----------*/

nav.navigation {
	width: 250px;
	margin-bottom: 23px;
	overflow: hidden;
	border-radius: 4px;
}

aside.sidebar{
	float: left;
	width: 250px;
}

.navigation-ul{
	margin: 0;
	padding: 0;
	background-color: #eff3f7;
  	font-size: 21px;
  	line-height: 21px;
  	font-family: fira_sansbook;
	color: #959aa8;
	list-style-type: none;
}

.navigation-ul-li{
	display: block;
	margin: 0px 10px;
	padding: 27px 0px;
	padding-left: 18px;
	border-bottom: 2px #3ba8c0 solid;
}

.current{
	background-color: #3ba8c0;
	margin: 0;
	padding-left: 28px;
}

.current a{
	color: #ffffff !important;
}

.navigation-ul-li:last-child{
	border-bottom: none;
}

.navigation-ul-li a{
	color: #959aa8;
	text-decoration: none;
}

.navigation-ul a:hover{
	color: #3ba8c0;
}

.navigation-ul-li a:active{
	background: #3ba8c0;
	color: #ffffff;
}

.contacts{
	margin-bottom: 23px;
}

.contacts-title{
	font-family: fira_sansbook;
	line-height: 21px;
	font-size: 21px;
	padding: 14px 140px 10px 21px;
	background-color: #3ba8c0;
	color: white;
}

.contacts-items-ul{
	padding: 0;
	margin: 0;
	font-family: fira_sansbook;
	font-size: 17px;
	line-height: 17px;
	color: white;
	background-color: #51daf8;
}

.contact-icon{
	float: left;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	margin-left: 42px;
}

.mail-image{
	background-image: url(../img/mail.png);
}

.phone-image{
	background-image: url(../img/tel.png);
}

.skype-image{
	background-image: url(../img/skype.png);
}

.contacts-items-mail{
	background-color: #41b9d4;
	padding-bottom: 13px;
}

.contacts-items-phone{
	background-color: #48cbe8;
	padding-bottom: 13px;
}

.contacts-items-skype{
	background-color: #51daf8;
	padding-bottom: 13px;
}

.contact-list-item{
	font-family: fira_sansbook;
	font-size: 17px;
	line-height: 17px;
	margin-left: 10px;
	color: white;
	text-decoration: none;
}

.contact-list-item:hover{
	text-decoration: underline;
}

/*--------------------------------*/

.section{
	float: right;
	width: 650px;
}

article.article{
	background-color: #eff3f7;
	padding-bottom: 46px;
	margin-bottom: 26px;
	border-radius: 4px;
}

.article-head{
	color: #3ba8c0;
	padding: 20px 22px;
	border-bottom: 2px #3ba8c0 solid;
	font-family: fira_sansbook;
	font-size: 27px;
	line-height: 27px;
	margin-bottom: 18px;
	display: inline-block;
}

.article-avatar{
	float: left;
	margin-top: 18px;
	margin-left: 55px;
}

.avatar-box{
	width: 142px;
	height: 142px;
	border-radius: 50% 50%;
	overflow: hidden;
	border: 5px solid #3ba8c0;
	text-align: center;
}

.article-info{
	float: right;
	width: 400px;
}

.article-info ul{
	list-style: none;
	margin: 0 0;
	padding: 0 0;
	line-height: 200%;
}

.article-info-what{
	float: left;
	font-family: fira_sansbook;
	font-size: 15px;
	font-weight: bold;
	margin-right: 25px;
}

.article-info-answer{
	float: left;
	font-family: fira_sansbook;
	font-size: 15px;
	max-width: 218px;
	overflow: hidden;
}

.skills-list{
	float: left;
	margin-left: 25px;
	max-width: 218px;
	display: inline-block;
}

.skills-list-item{
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	margin-right: 8px;
	padding: 0px 10px;
	font-family: fira_sansbook;
	color: white;
	border-radius: 2px;
    background: #3ba8c0; /* Old browsers */ /* FF3.6-15 */
    background: -webkit-linear-gradient(#3ba8c0 0%, #3ba8c0 50%, #2e8ca2 51%, #2e8ca2 100%);
    background: -o-linear-gradient(#3ba8c0 0%, #3ba8c0 50%, #2e8ca2 51%, #2e8ca2 100%);
    background: linear-gradient(#3ba8c0 0%, #3ba8c0 50%, #2e8ca2 51%, #2e8ca2 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba8c0', endColorstr='#2e8ca2',GradientType=0 ); /* IE6-9 */
}


.work-list{
	margin: 0px 58px;
	padding: 0;
}

.icon-work{
	background: url(../img/rab.png) no-repeat left center;
    padding-left: 65px;
    list-style: none;
    margin: 0;
}

.icon-education{
	background: url(../img/uch.png) no-repeat left center;
    padding-left: 65px;
    list-style: none;
    margin: 0;
}

.icon-loftschool{
	background: url(../img/kurs.png) no-repeat left center;
    padding-left: 65px;
    list-style: none;
    margin: 0;
}

.work-list-item{
	margin-bottom: 20px;
}

.work-list-item:last-child{
	margin-bottom: 0px;
}

.work-list-item-where{
	font-size: 17px;
	font-weight: 150%;
	font-family: fira_sansbook;
}

.work-list-item-time{
	font-size: 15px;
	font-family: fira_sansbook;
}

