.icon {
    background-image: url(../img/icons/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.icon-facebook {
    width: 47px;
    height: 48px;
    background-position: -5px -5px;
}

.icon-facebook:hover {
    width: 47px;
    height: 48px;
    background-position: -62px -5px;
}

.icon-github {
    width: 47px;
    height: 48px;
    background-position: -119px -5px;
}

.icon-github:hover {
    width: 47px;
    height: 48px;
    background-position: -176px -5px;
}

.icon-tw {
    width: 47px;
    height: 48px;
    background-position: -233px -5px;
}

.icon-tw:hover {
    width: 47px;
    height: 48px;
    background-position: -290px -5px;
}

.icon-vk {
    width: 47px;
    height: 48px;
    background-position: -347px -5px;
}

.icon-vk:hover {
    width: 47px;
    height: 48px;
    background-position: -404px -5px;
}
